
<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About Me</h2>
    <hr>
    <p>Hi, my name is Anna Dimitrova & I am an aspiring Full Stack Developer living in Sydney, Australia.</p>
    <p>By day I study Software Development at the <a href="https://www.coderfactoryacademy.edu.au/
"> Coder Factory Academy</a>. My skills (so far) include HTML, CSS, SaSS, Ruby, Rails, Bootstrap & Javascript.</p>
    <p>I am looking to join an organisation where I can help make a difference one line of code at a time.</p> <p>If you're interested in working together, please get in touch through social media or via the "Contact" page and I will contact you.</p>

  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3> <a href="https://github.com/StrannikAD/CFA-Project-Caffeine-Quest">Terminal Application: Caffeine Quest</a></h3>
    <p class="date">Friday March 10th</p>
    <h3> <a href="https://github.com/StrannikAD/CFA-ATM-terminal-app">Terminal Application: ATM </a></h3>
    <p class="date">Friday March 10th</p>
    <h3><a href="https://github.com/StrannikAD/CFA-Calculator-Terminal-Application">Terminal Application: Calculator</a></h3>
    <p class="date">Friday March 10th</p>
  </div>
</div>
